.container-404 {
  min-height: 100vh;
}

.img-404 {
  width: 40%;
  height: auto;
}

@media screen and (max-width: 640px) {
  .img-404 {
    width: 100%;
  }
}

.text-container-404,
.container-404 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.text-container-404 {
  color: #f8e9ad;
  font-family: "Libre Baskerville", serif;
}

.go-home-404 {
  color: #cd6bfa;
  width: 5em;
  padding: 1em;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  border-radius: 13px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 1px 2px 7px #cd6bfa;
}

.go-home-404:hover {
  transform: scale(1.1);
  box-shadow: 2px 3px 7px #cd6bfa;
}
/*adbcf8*/
